name: Prepare Release

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.FLOWCORE_MACHINE_GITHUB_TOKEN }}
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.FLOWCORE_MACHINE_GITHUB_TOKEN }}
          release-type: node
          packages:
            package.json

